.faq-section {
    width: 850px;
    margin: 5px auto;
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
}

.faq-section h2 {
    font-size: 24px;
    color: #2C0E47;
    font-weight: bold;    
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
  
.faq-item h3 {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 5px;
}
  
.faq-item p {
    font-size: 16px;
    color: black;
    background-color:  rgba(255, 255, 255);
    text-align: justify;
    margin-top: 0px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}