/* Estilos para el formulario */
.loginUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 35px;
  }
  
  /* Estilos para las etiquetas de los campos */
  .loginUser label {
    font-size: 15px;
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada de texto */
  .loginUser input {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  /* Estilos para el botón de Iniciar sesión */
  .loginUser button {
    width: 150px;
    height: 30px;
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de Cerrar sesión */
  .loginUser button.closeBtn {
    background-color: #dc3545;
  }
  
  /* Estilos para el mensaje de error */
  .loginUser .error {
    color: red;
    font-size: 10px;
    margin-bottom: 12px;
  }