.cart-vacio {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-vacio-list {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid  #2C0E47;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #2C0E47;
}

.cart-productos-list {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.cart-button-empty {
    margin: 0px 5px;
    background-color: #2C0E47;
    color: white;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 3px;
}