.cart-button-eliminar {
    margin: 0px 5px;
    background-color: #2C0E47;
    color: white;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 3px;
}