/*--- RESETEO ---*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--- BODY ---*/

body {
  background-color: #ecdced;
  font-family: 'Poppins', sans-serif;
}

/*--- MAIN ---*/

.background-img {
  background-image: url("../../img/img-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 729px;
  width: auto;
}

.en-construccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
}

.en-construccion a {
  margin: 0px 5px;
}