.contact-form {
    max-width: 550px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #cccccc;
    padding: 10px;
    font-weight: bold;
    color: #040936ce;
}

.contact-form input {
    margin: 5px 0px;
}

.contact-form select {
    margin: 5px 0px; 
}

.contact-form option {
    margin: 5px 0px; 
}

.contact-form textarea {
    margin: 10px 0px;
    height: 140px;
}

.contact-form button {
    background-color: #2a2aa2;
    font-size: 20px;
    color: #ebe2e2;
}